<%- include('partials/header') -%>

    <main class="bg-secondary">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-2 col-md-3 bg-success overflow-y-auto pt-4 px-0">
                    <nav class="navbar navbar-expand-md">
                        <div class="container-fluid d-flex flex-column px-0">
                          
                            <button class=" border-0 bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <h3 class="h-accent">Find Your Plant</h3>
                                <span class="bi bi-search-heart fs-1"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav d-flex flex-column">
                                        <% plants.forEach( el => { %>
                                            <li class="nav-item" data-id='<%= el._id %>'>
                                                <% if (thisPlant) { %>
                                                    <li class="nav-item border-bottom py-2"><a class="nav-link link-dark h-accent" href="./<%= el._id %>" style="font-size: 1rem;"><%= el.commonName %></a></li>
                                                <% } else { %>
                                                    <li class="nav-item border-bottom py-2"><a class="nav-link link-dark h-accent" href="/care/<%= el._id %>" style="font-size: 1rem;"><%= el.commonName %></a></li>
                                                <% } %>
                                            </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                      </nav>
              
                </div>
          
            <div class="col-lg-10 col-md-9 text-center px-3" >
                <% if(thisPlant) { %>
                   <div class="py-5">
                    <h1 class="h-accent"><%= thisPlant.commonName %></h1>
                    <h4 class="fst-italic"><%= thisPlant.scientificName %></h4>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                            <img class="circle-img-lg p-3" src="/<%= thisPlant.img %>">
                        </div>
                        <div class="col p-4">
                            
                            <p class="text-start fs-5 pb-3"><%= thisPlant.description %></p>
                            <div class="d-flex flex-column align-items-start border border-2 border-primary rounded p-2">
                                <div class="d-flex align-items-center border-primary py-2">
                                    <i class="bi bi-droplet fs-1"></i>
                                    <p class="text-start pt-2"><%= thisPlant.waterNotes %></p>
                                </div>
                                
                                <div class="d-flex align-items-center border-primary py-2">
                                    <i class="bi bi-brightness-high fs-1"></i>
                                    <p class="text-start pt-2 w-100"><%= thisPlant.lightNotes %></p>
                                </div>
                                    
                                <div class="d-flex align-items-center py-2">
                                    <span class="material-symbols-outlined fs-1 p-2">skull</span>
                                    <p class="text-start pt-2"><%= thisPlant.toxicityNotes %></p>       
                                </div>               
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      
                        <a href="/shop"><button class="m-3 btn btn-success border-2 border-dark">Visit the Shop</button></a>
                    </div>
                </div>
                <% } else { %> 
                    <div class="m-auto text-start py-5" >
                        <div class="row align-items-center pb-5">
                            <div class="col-12 col-lg-6">
                                <h1 class="h-accent">We're Here to Help!</h1>
                                <p class="fs-5 py-4">At Pothos, our job is not done when your lush, green vines make it home. We are committed to offer continued support with care and advice if something goes wrong!</p>
                                <p class="fs-5 pb-4">Find your plant from the menu to view species-specific care guidelines and reccomendations</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <img class="img-fluid border border-5 border-light rounded" src="/PlantPhotos/how-to-grow-and-care-for-a-monstera-0922-2000-d548d59535844eea8bf1d94441879560.jpg" alt="monstera houseplant being sprayed with water">
                            </div>
                            
                        </div>
                        <hr class=>
                        <div class="row pt-5 text-center">
                            <div class="col">
                                <h3 class="h-accent">Don't see your plant? No worries!</h3>
                                <p class="fs-5 py-3">Even if we haven't sold your plant in our stores, our experts can help if you send them a chat.</p>
                                <form class=>
                                    <div class="input-group mb-3 m-auto" style="max-width: 600px">
                                        <input type="text" class="form-control bg-light" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-subscribe">
                                    </div>
                                    <div class="input-group mb-3 m-auto" style="max-width: 600px">
                                        <textarea type="text" class="form-control bg-light" placeholder="Message" aria-label="Email Address" aria-describedby="button-subscribe"></textarea>
                                    </div>
                                    <button class="btn btn-success border-2 border-dark m-3" type="button" id="button-subscribe">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
          
            </div>
        </div>
    </main>

    <%- include('partials/footer') -%>