<%- include('partials/header') -%>
        
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="PlantPhotos/2.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="Mini monstera plant on table">
            <div class="carousel-caption" >
                <h1 class="text-light h-accent">Lush New Arrivals</h1>
                <p class="fs-4 ">Check out the shop or scroll down to see what's new on our shelves</p>
                <a href="/shop"><button class="btn btn-success border-dark border-2">Shop Now</button></a>
                </div>
        </div>

        <div class="carousel-item">
            <img src="PlantPhotos/1.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="leafy green pothos plant">
            <div class="carousel-caption">
                <h1 class="h-accent">Shop More, Save More!</h1>
                <p class="fs-4 ">Earn 20% off your entire purchase when you add 3 or more plants to your order.</p>
                <a href="/shop"><button class="btn btn-success border-dark border-2">Shop Now</button></a>
            </div>
        </div>
        
        <div class="carousel-item">
            <img src="PlantPhotos/3.png" class="d-block w-100" style="height: 500px; object-fit: cover; " alt="watering can and pothos plant">
            <div class="carousel-caption">
                <h1 class="h-accent">Plant Care</h1>
                <p class="fs-4">Keep plants healthy in your space</p>
                <a href="/care"><button class="btn btn-success border-dark border-2">Find Your Plant</button></a>
            </div>
        </div>
    </div>  
</div>

<div class="d-flex flex-column align-items-center justify-content-center text-center py-5">
    <img class="img-fluid" src="/PlantPhotos/4.png" >
</div>  


<main>
    <div id="about" data-aos="zoom-in" class=" bg-light container-fluid p-3 text-center">
        <h2 class="text-center h-accent my-3">We're plant people with a purpose</h2>
        <p class="fs-5">Here at Pothos, it's our mission to bring the beauty of green into your home. However, we know our job is not complete when our plant enters your home. That's why we offer continued support and guidance on care so you can grow more and worry less!</p>
        <a href="/about"><button type="button" class="btn btn-success border-2 border-dark my-3">Read More</button></a> 
    </div>

        <section id="featured" class="section-center bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-dark">
                            <h2 class="text-center pb-3 h-accent">Quality Vines: Featured Products</h2>  
                            <hr>         
                            <!-- <p class="fs-5">At Pothos, we're not all about sales. Our mission is to bring you quality plants that will last long and look healthy. </p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% plants.forEach(el => { %>
                        <% if(el.featured == true) { %>
                            <div class="col-xl-4 col-lg-6 col-md-6 pb-5 d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
                                <h3 class="text-center h-accent text-primary"><%= el.commonName %></h3>
                                <a href="care/<%= el._id %>"><img class="circle-img-md" src="/<%= el.img %>"></a>
                            </div>
                        <% } %>
                    <% }) %>
                </div>

                <div class="col-sm-12">
                    <a href="/shop"> <button type="button" class="btn btn-large btn-success border-2 border-dark">Shop All</button></a>
                 </div>
            </div>
        </section>
    </main>

<%- include('partials/footer') -%>