<%- include('partials/header') -%>

<div data-aos="zoom-in" class=" bg-light container-fluid p-3 text-center">
    <h2 class="text-center h-accent my-3">Welcome to our Shop!</h2>
    <p class="fs-5">We're proud of our plants. When you place an order with Pothos, you know you will receive a happy, healthy, and long-lasting plants. Make sure to view a plant's info to see our care recommendations for that species!</p>
</div>
    <main class="bg-secondary">
        

        <div class="container-fluid text-center">
            <div class="d-flex justify-content-center mt-3">
                <div class="btn-group mx-3">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/shop/filterPothos">Pothos</a></li>
                        <li><a class="dropdown-item" href="/shop/filterPhilos">Philodendrons</a></li>
                        <li><a class="dropdown-item" href="/shop/filterOthers">Others</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/shop">See All</a></li>
                    </ul>
                </div>
                  
                <div class="btn-group mx-3">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort All By
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/sortPriceLowHigh" class="dropdown-item" >Price ($<i class="bi bi-arrow-right-short fs-5"></i>$$$)</a></li>
                        <li><a href="/shop/sortPriceHighLow" class="dropdown-item" >Price ($$$<i class="bi bi-arrow-right-short fs-5"></i>$)</a></li>
                        <li><a href="/shop/sortAZ" class="dropdown-item" >A<i class="bi bi-arrow-right-short fs-5"></i>Z</a></li>
                        <li><a href="/shop/sortZA" class="dropdown-item" >Z<i class="bi bi-arrow-right-short fs-5"></i>A</a></li>
                    </ul>
                </div>
            </div>
            <hr class="">
            <div class="row row-cols-xl-4 row-cols-lg-3 row cols-md-2">
                <% plants.forEach( el => { %>
                    <% if(el.active == true) { %>
                    <div class="col p-2 pb-4 d-flex justify-content-center" data-id='<%= el._id %>'>
                        <div class="rounded-5 bg-white " style="width: 18rem;">
                            <div class="border border-1 border-bottom-0 rounded-top-5 border-primary"style="height: 20rem;">
                                <div class="d-flex justify-content-between m-2">
                                    <h4 class="text-primary m-3 h-accent"><%= el.commonName %></h4>
                                    <a class="icon-grow" href="care/<%= el._id %>" ><i class="bi bi-info-circle-fill fs-2 text-success"></i></a>
                                </div>
                                <div >
                                    <img src="/<%= el.img %>" class="img-fluid" style="height: 15.5rem; width: 18rem; object-fit: cover;" alt="...">
                                </div>
                            </div>
                            <div class="container rounded-bottom-5 bg-primary d-flex justify-content-between align-items-center py-2" >
                                <div>
                                    <!-- <h4 class="text-light"><%= el.commonName %></h4> -->
                                    <p class="text-light fs-4 m-3">$ <%= el.price %></p>
                                </div>
                                <i onclick="addToCart('<%= el._id %>')" class="bi fs-1 bi-cart-plus text-success icon-rotate"></i>
                                <!-- <a href="/cart/addToCart"><i class="bi fs-1 bi-cart-plus text-success"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% }) %> 
            </div>
        </div>
        <hr data-aos="flip-left" data-aos-duration="1000"/>
        <section class="container-fluid text-center">
            <h1 class="text-center">Can't find what you're looking for?</h1>
        
            <form class="container p-2 text-dark">
                <p class="fs-4 pt-3">Find us on social media or join our newsletter to get the scoop on new arrivals, plant sales, and more:</p>
                <h3 class="text-center pt-5 h-accent">Subscribe to our Newsletter:</h3>
                <!-- <p>for exciting bi-wekly updates, deals, and plant care tips</p> -->
                <div class="row d-flex justify-content-center" >
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control bg-light rounded p-2 my-2 text-center" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-subscribe">
                    </div>
                    <button class="btn btn-success btn-sm col-12 col-md-4 my-2 mx-3 bg-success rounded text-dark text-center ">Subscribe</button>
                </div>
            </form>
        </form>
        <div class="pt-5">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class=""><a href="#"><i class="bi bi-facebook text-primary"></i></a></li>
                <li class="mx-4"><a href="#"><i class="bi bi-instagram text-primary"></i></a></li>
                <li class=""><a href="#"><i class="bi bi-twitter text-primary"></i></a></li>
            </ul>
        </div>
        </section>
       
    </main>

    
    <%- include('partials/footer') -%>